*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body{
    background: #8a51fc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


main{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    background-color: #fff;
    margin: 0 auto;
    height: 320px;
    padding: 15px;
}

label{
    color: #777;
    font-weight: 400;
    font-size: 10px;
    display: block;
    

}
select, input{
    display: block;
    border-radius: 4px;
    border: 1px solid #bbb;
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
    appearance: none;
    padding-left: 10px;
    font-weight: 700;
    color: #4e4e4e;
    cursor: pointer;
    font-size: 10px;
}

button{
    width: 100%;
    background-color: #772fd3;
    border-radius: 5px;
    border: none;
    height: 20px;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

section{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.currency-box{
    border: 1px solid #772fd3;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.currency-box img{
    width: 25px;
}

.currency-box p{
    font-size: 10px;
    color: #4e4e4e;
    font-weight: 900;
}

